@{
    ViewData["Title"] = "Around The Web";
}
<body>
    <center class="underline"><h1>Around The Web</h1></center><br>
    <center><H2>COLLECTION OF SOME OF THE COOLEST CARS WE FIND AROUND THE WEB!</H2></center>
    <div class="mid-div_" style="background-color:#708090;">
        <div class="image-container">
            <div class="imageAOW">
                <img src="~/css/A1.jpg" alt="A1">
               <center>
                   <div class="image-info">
                    <h2>TOYOTA 86 DONE RIGHT.</h2><BR>
                    <h3>STANCENATION x JANUARY 23, 2018</h3><BR>
                    <h4>By: Brandon Kwan</h4><BR>
                   </div>
                </center> 
            </div>
            <div class="imageAOW">
                <img src="~/css/A2.jpg" alt="A2">
                <center>
                   <div class="image-info">
                    <h2>"WINTER BEATER."</h2><BR>
                    <h3>STANCENATION x JANUARY 23, 2018</h3><BR>
                    <h4>By: Johnny Keihas</h4><BR>
                   </div>
                </center> 
            </div>
            <div class="imageAOW">
                <img src="~/css/A3.jpg" alt="A3">
                <center>
                   <div class="image-info">
                    <h2>DROP THAT STANCE</h2><BR>
                    <h3>STANCENATION x JANUARY 20, 2018</h3><BR>
                    <h4>By: Vick Em</h4><BR>
                   </div>
                </center> 
            </div>
        </div>
        <br>
        <div class="image-container">
            <div class="imageAOW">
                <img src="~/css/A4.jpg" alt="A4">
                <center>
                    <div class="image-info">
                        <h2>WOULD YOU CHANGE ANYTHING?</h2><BR>
                        <h3>STANCENATION x JANUARY 20, 2018</h3><BR>
                        <h4>By: Fieldstone1993</h4><BR>
                    </div>
                </center>
            </div>
            <div class="imageAOW">
                <img src="~/css/A5.jpg" alt="A5">
                <center>
                    <div class="image-info">
                        <h2>NICE CRUISER!</h2><BR>
                        <h3>STANCENATION x JANUARY 19, 2018</h3><BR>
                        <h4>By: blackren.com</h4><BR>
                    </div>
                </center>
            </div>
            <div class="imageAOW">
                <img src="~/css/A6.jpg" alt="A6">
                <center>
                    <div class="image-info">
                        <h2>S2K X BBS COMBO!</h2><BR>
                        <h3>STANCENATION x JANUARY 19, 2018</h3><BR>
                        <h4>By: Skippy Juarez</h4><BR>
                    </div>
                </center>
            </div>
        </div>
        <br>
        <div class="image-container">
            <div class="imageAOW">
                <img src="~/css/A7.jpg" alt="A7">
                <center>
                    <div class="image-info">
                        <h2>THOUGHTS ON THIS GRAY EVO?</h2><BR>
                        <h3>STANCENATION x JANUARY 19, 2018</h3><BR>
                        <h4>By: Denis Podmarkov.</h4><BR>
                    </div>
                </center>
            </div>
            <div class="imageAOW">
                <img src="~/css/A8.jpg" alt="A8">
                <center>
                    <div class="image-info">
                        <h2>BAPE STYLED MITSUBISHI EVO?</h2><BR>
                        <h3>STANCENATION x JANUARY 15, 2018</h3><BR>
                        <h4>By:CP Fraudtography.</h4><BR>
                    </div>
                </center>
            </div>
            <div class="imageAOW">
                <img src="~/css/A9.jpg" alt="A9">
                <center>
                    <div class="image-info">
                        <h2>WHAT SNOW?</h2><BR>
                        <h3>STANCENATION x JANUARY 15, 2018</h3><BR>
                        <h4>By: badou hadidane</h4><BR>
                    </div>
                </center>
            </div>
        </div>
        <br>
        <div class="image-container">
            <div class="imageAOW">
                <img src="~/css/A10.jpg" alt="A10">
                <center>
                    <div class="image-info">
                        <h2>SENNA X NSX</h2><BR>
                        <h3>STANCENATION x JANUARY 14, 2018</h3><BR>
                        <h4>By: Kevin Le</h4><BR>
                    </div>
                </center>
            </div>
            <div class="imageAOW">
                <img src="~/css/A11.jpg" alt="A11">
                <center>
                    <div class="image-info">
                        <h2>THIS STYLE!</h2><BR>
                        <h3>STANCENATION x JANUARY 14, 2018</h3><BR>
                        <h4>By: Lukas Szukasz</h4><BR>
                    </div>
                </center>
            </div>
            <div class="imageAOW">
                <img src="~/css/A12.jpg" alt="A12">
                <center>
                    <div class="image-info">
                        <h2>LESS IS MORE.</h2><BR>
                        <h3>STANCENATION x JANUARY 14, 2018</h3><BR>
                        <h4>By: CP Fraudtography</h4><BR>
                    </div>
                </center>
            </div>
        </div>
    </div>
    
</body>