@{
    ViewData["Title"] = "Around The Web";
}
<body>
    <center class="underline"><h1>Around The Web</h1></center><br>
    <center><H2>COLLECTION OF SOME OF THE COOLEST CARS WE FIND AROUND THE WEB!</H2></center>
    <div class="mid-div" style="background-color:#708090;">
        <div class="image-container">
            <div class="imageAOW">
                <img src="~/css/A1.jpg" alt="A1">
               <center>
                   <div class="image-info">
                    <h2>TOYOTA 86 DONE RIGHT.</h2><BR>
                    <h3>STANCENATION x JANUARY 23, 2018</h3><BR>
                    <h4>By: Brandon Kwan</h4><BR>
                   </div>
                </center> 
            </div>
            <div class="imageAOW">
                <img src="~/css/A2.jpg" alt="A2">
                <center>
                   <div class="image-info">
                    <h2>"WINTER BEATER."</h2><BR>
                    <h3>STANCENATION x JANUARY 23, 2018</h3><BR>
                    <h4>By: Johnny Keihas</h4><BR>
                   </div>
                </center> 
            </div>
            <div class="imageAOW">
                <img src="~/css/A3.jpg" alt="A3">
                <center>
                   <div class="image-info">
                    <h2>DROP THAT STANCE</h2><BR>
                    <h3>STANCENATION x JANUARY 20, 2018</h3><BR>
                    <h4>By: Vick Em</h4><BR>
                   </div>
                </center> 
            </div>
        </div>

        <div class="image-container">
            <div class="imageAOW">
                <img src="~/css/A4.jpg" alt="A4">
                <center>
                    <div class="image-info">
                        <h2>WOULD YOU CHANGE ANYTHING?</h2><BR>
                        <h3>STANCENATION x JANUARY 20, 2018</h3><BR>
                        <h4>By: Fieldstone1993</h4><BR>
                    </div>
                </center>
            </div>
            <div class="imageAOW">
                <img src="~/css/A5.jpg" alt="A5">
                <center>
                    <div class="image-info">
                        <h2>NICE CRUISER!</h2><BR>
                        <h3>STANCENATION x JANUARY 19, 2018</h3><BR>
                        <h4>By: blackren.com</h4><BR>
                    </div>
                </center>
            </div>
            <div class="imageAOW">
                <img src="~/css/A6.jpg" alt="A6">
                <center>
                    <div class="image-info">
                        <h2>S2K X BBS COMBO!</h2><BR>
                        <h3>STANCENATION x JANUARY 19, 2018</h3><BR>
                        <h4>By: Skippy Juarez</h4><BR>
                    </div>
                </center>
            </div>
        </div>
    </div>
    
</body>