@{
    ViewData["Title"] = "Car features";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<body>
    <div class="left-div">
        <center class="underline"><h1>Car Features</h1></center>
    </div>

    <div class="right-div">
        <center><H3 class="underline">Social Media</H3></center>
        <div style="background-color: #708090;">
            <center>
                <ul class="social-links">
                    <li>
                        <a href="http://www.facebook.com/stancenation">
                            <i class="fab fa-facebook facebook-icon social-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.instagram.com/stancenation">
                            <i class="fab fa-instagram instagram-icon social-icon"></i>
                        </a>
                    </li>
                </ul>
            </center>
        </div>
        <br><br><br>
        <center>
            <H3 class="underline">StanceNation Team </H3><br>
            <div style="background-color: #708090;">
                <div>
                    <h4>Sandile Mashabane</h4>
                    <p>Project Manager</p>
                    <div><img src="~/css/sandile1.png" /></div><br>
                    <div class="dotted-line"></div>
                </div>
                <div>
                    <h4>Chadwin Benn</h4>
                    <p>Business Analyst</p>
                    <div><img src="~/css/chad.png" /></div><br>
                    <div class="dotted-line"></div>
                </div>
                <div>
                    <h4>Kabelo Frans Mampa</h4>
                    <p>Software Developer</p>
                    <div><img src="~/css/frans.png" /></div><br>
                    <div class="dotted-line"></div>
                </div>
                <div>
                    <h4>Kabelo Monageng</h4>
                    <p>Software Designer</p>
                    <div><img src="~/css/kabelo.png" /></div><br>
                    <div class="dotted-line"></div>
                </div>
                <div>
                    <h4>Kamohelo Mokebe</h4>
                    <p>Businness Analyst</p>
                    <div><img src="~/css/kamo.png" /></div><br>
                    <div class="dotted-line"></div>
                </div>
            </div>
            <br><br>
            <H3 class="underline">Our Supporters </H3><br>
            <div><img src="~/css/SP1.jpg" /></div>
            <div><img src="~/css/SP2.jpg" /></div>
            <div><img src="~/css/SP3.jpg" /></div>
            <div><img src="~/css/SP4.jpg" /></div>
            <div><img src="~/css/SP5.jpg" /></div>
            <div><img src="~/css/SP6.jpg" /></div>
            <div><img src="~/css/SP7.jpg" /></div>
        </center>


    </div>
    <div style="background-color:#708090;" class="left-div">
        <br><br>
        <div>
            <center>
                <div class="image">
                    <img src="~/css/CF1.jpg" /><br>
                </div>
            </center>
            <H3>The Incedent 1 // SEBASTIAN PORSCHE 911.</H3>
            <p class="small-text">Sean Lee x March 17, 2023</p><br>
            <p class="normal-text">
                For many, the ultimate car is the Porsche 911. Spanning many years, with many different models and trim levels available, yet always sticking to a tried and true method, the 911 is beloved by many and disliked by few. Naturally, with so much popularity, modified examples are abundant and cross all kinds of styles. Of course, as with most things, there is a stereotype that exists for your average modified 911. This specific car is not your stereotypical Porsche build. It’s name is Indecent 001 and it’s here to challenge what the average person thinks about modified Porsches.
            </p>
        </div>
        <div class="dotted-line"></div>

    </div>
    <div style="background-color:#708090;" class="left-div">
        <br><br>
        <div>
            <center>
                <div class="image">
                    <img src="~/css/CF2.jpg" /><br>
                </div>
            </center>
            <H3>Custom is Key // CHRISTIAN GARCIA SCION FRS.</H3>
            <p class="small-text">STANCENATION x JULY 28, 2022/p><br>
            <p class="normal-text">
                We all know now that the ZN6/ZC6 chassis has become one of the most popular platforms in the last decade. And that’s for many reasons; from the history of the AE86, to the car just being an excellent value for money. The fact that the aftermarket world has embraced it as well as it has certainly contributed to the popularity of the car among the younger car enthusiasts. That certainly was the case with Christian who ended up with one as a high school graduation gift way back in 2014. However as we all know, with the popularity comes oversaturation and oversaturation leads to things becoming “played out”, for lack of better terms.
            </p>
        </div>
        <div class="dotted-line"></div>

    </div>
    <div style="background-color:#708090;" class="left-div">
        <br><br>
        <div>
            <center>
                <div class="image">
                    <img src="~/css/CF3.jpg" /><br>
                </div>
            </center>
            <H3>HOW LOW IS TOO LOW? // AUSTIN JONES' LEXUS LS400.</H3>
            <p class="small-text">SEAN LEE x JULY 12, 2022</p><br>
            <p class="normal-text">
                I’d venture a guess that many of you would say there’s no such thing as too low. Especially when it comes to a big body VIP style builds like Austin Jones’ LS400. There’s a feeling that you just can’t describe when it comes to seeing big cars like this hovering off the ground in rolling shots. Many of us got our first glimpses of this kind of style from iconic VIP builds of Japan in the 90’s and 00’s. The clean lines, bold yet understated styling, and of course, the outrageous ride heights hooked so many of us to the VIP trend so early on. While themed cars and cars with VIP influences are great to see, nothing beats a true to form VIP build like this.
            </p>
        </div>
        <div class="dotted-line"></div>

    </div>
    <div style="background-color:#708090;" class="left-div">
        <br><br>
        <div>
            <center>
                <div class="image">
                    <img src="~/css/CF4.jpg" /><br>
                </div>
            </center>
            <H3>UNLIKE ANY OTHER // DAISUKE ARAKI'S R33 GTR SKYLINE.</H3>
            <p class="small-text">SEAN LEE x FEBRUARY 7, 2022</p><br>
            <p class="normal-text">
                We’ve all seen how most articles about the R33 GTR Skyline start, the inevitable comparison . In fact, there are so many out there that compare the R33 GTR to the other Skyline generations that it’s crazy. Style-wise, the car gets a bad reputation, we all know this. As these come to age, especially from the US perspective, where they’re just becoming legal, right before we’re allowed the holy grail R34 GTR. I would dare to say that they’re starting to experience a bit of a renaissance period. Now, while I don’t even pretend to know what our Japanese fans are actually thinking about these cars, I can’t help but imagine that this may be the way they see it as well.
            </p>
        </div>
        <div class="dotted-line"></div>

    </div>
    <div style="background-color:#708090;" class="left-div">
        <br><br>
        <div>
            <center>
                <div class="image">
                    <img src="~/css/CF5.jpg" /><br>
                </div>
            </center>
            <H3>SPOTLIGHT // YASUNORI NAKAMORI LEXUS LS460.</H3>
            <p class="small-text">STANCENATION x OCTOVER 8, 2021</p><br>
            <p class="normal-text">
                It’s been way too long since we’ve shared a VIP sedan here but we don’t think you will be dissapointed with our latest pick. Unfortunately we won’t go into too much depth about the car since we couldn’t manage to get more photos and information on the car, but again, you will not be dissapointed. Yasunori’s Lexus LS460 is like no other, from body, to paint, to wheel fitment and beyond!</p>
        </div>
        <div class="dotted-line"></div>

    </div>


</body>