@{
    ViewData["Title"] = "Event Coverage";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<body>
    <div class="left-div">
        <center class="underline"><h1>Events Coverage</h1></center>
    </div>

    <div class="right-div">
        <center><H3 class="underline">Social Media</H3></center>
        <div style="background-color: #708090;"> <center>
             <ul class="social-links">
                <li>
                    <a href="http://www.facebook.com/stancenation">
                   <i class="fab fa-facebook facebook-icon social-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.instagram.com/stancenation">
                       <i class="fab fa-instagram instagram-icon social-icon"></i>
                    </a>
                </li>
            </ul>
        </center>
        </div>
       <br><br><br>
        <center >
            <H3 class="underline">StanceNation Team </H3><br>
            <div style="background-color: #708090;">
                <div>
                    <h4>Sandile Mashabane</h4>
                    <p>Project Manager</p>
                    <div><img src="~/css/sandile1.png" /></div><br>
                    <div class="dotted-line"></div>
                </div>
                <div>
                    <h4>Chadwin Benn</h4>
                    <p>Business Analyst</p>
                    <div><img src="~/css/chad.png" /></div><br>
                    <div class="dotted-line"></div>
                </div>
                <div>
                    <h4>Kabelo Frans Mampa</h4>
                    <p>Software Developer</p>
                    <div><img src="~/css/frans.png" /></div><br>
                    <div class="dotted-line"></div>
                </div>
                <div>
                    <h4>Kabelo Monageng</h4>
                    <p>Software Designer</p>
                    <div><img src="~/css/kabelo.png" /></div><br>
                    <div class="dotted-line"></div>
                </div>
                <div>
                    <h4>Kamohelo Mokebe</h4>
                    <p>Businness Analyst</p>
                    <div><img src="~/css/kamo.png" /></div><br>
                    <div class="dotted-line"></div>
                </div>
            </div>
            <br><br>
            <H3 class="underline">Our Supporters </H3><br>
            <div><img src="~/css/SP1.jpg" /></div>
            <div><img src="~/css/SP2.jpg" /></div>
            <div><img src="~/css/SP3.jpg" /></div>
            <div><img src="~/css/SP4.jpg" /></div>
            <div><img src="~/css/SP5.jpg" /></div>
            <div><img src="~/css/SP6.jpg" /></div>
            <div><img src="~/css/SP7.jpg" /></div>
        </center> 


    </div>
    <div style="background-color:#708090;" class="left-div">
        <br><br>
        <div>
            <center>
                <div class="image">
                    <img src="~/css/Fixwell-2023-Event-Coverage-275-759x500.jpg" /><br>
                </div>
            </center>
            <H3>FIXWELL 2023 PHOTO COVERAGE.</H3>
            <p class="small-text">STANCENATION x NOVEMBER 14, 2023</p><br>
            <p class="normal-text">
                Japan never disappoints, and we mean it. Whether you make a pit stop at Daikoku on a random evening, or a big car show, the quality and variety of cars will simply never leave you let down. Fixwell is an event we’ve been covering for a few years now and it seems to be held at the same venue every year, so there is nothing new to report except all the cool new cars that show up year after year. 
            </p>
        </div>
        <div class="dotted-line"></div>

    </div>
    <div style="background-color:#708090;" class="left-div">
        <br><br>
        <div>
            <center>
                <div class="image">
                    <img src="~/css/The-Elite-ID-2023-25-759x500.jpg" /><br>
                </div>
            </center>
            <H3>THE ELITE ID 2023 PHOTO COVERAGE.</H3>
            <p class="small-text">STANCENATION x FEBRUARY 23, 2023</p><br>
            <p class="normal-text">
                When StanceNation was first created back in 2010 our goal was to stay true to our name and share stanced cars from all over the world with you. You don’t have to dig deep, just look at the last few pages of posts here and you’ll see coverage of events from Europe, Asia as well as USA. Today we’ll be taking you to Indonesia and showing you a few cars of an event that goes by the name The Elite Showcase. 
            </p>
        </div>
        <div class="dotted-line"></div>

    </div>
    <div style="background-color:#708090;" class="left-div">
        <br><br>
        <div>
            <center>
                <div class="image">
                    <img src="~/css/StanceNation-Japan-Odaiba-2022-143-759x500.jpg"/><br>
                </div>
            </center>
            <H3>STANCENATION JAPAN G EDITION ODAIBA 2022 // PART 3.</H3>
            <p class="small-text">STANCENATION x JANUARY 20, 2023</p><br>
            <p class="normal-text">
                No better way to start a new year than sharing with you one of our favorite events that we host. It’s not only our biggest even with over a 1000 cars, 100’s of vendors & 10,000 + visitors, but because it features some of the coolest and most diverse cars out there. While majority of the cars are indeed slammed on the ground, there are plenty of high performance JDM & Euro legends in attendance, fully restored classics are common at our events as well
            </p>
        </div>
        <div class="dotted-line"></div>

    </div>
    <div style="background-color:#708090;" class="left-div">
        <br><br>
        <div>
            <center>
                <div class="image">
                    <img src="~/css/StanceNation-Japan-Odaiba-2022-243-759x500.jpg" /><br>
                </div>
            </center>
            <H3>STANCENATION JAPAN G EDITION ODAIBA 2022 // PART 2.</H3>
            <p class="small-text">STANCENATION x DECEMBER 19, 2022</p><br>
            <p class="normal-text">
                Back again with part 2 of our Japan G Edition Odaiba photo coverage and as usual we’ve got another 200+ photos for you. More roll-in shots, more staging shots, as well as some of the award winners! We hate breaking the coverage up in pieces like this but it’s just what has to be done for this particular show to give as many cars the eyes that they deserve.</p>
        </div>
        <div class="dotted-line"></div>

    </div>
    <div style="background-color:#708090;" class="left-div">
        <br><br>
        <div>
            <center>
                <div class="image">
                    <img src="~/css/StanceNation-Japan-Odaiba-2022-533-759x500.jpg" /><br>
                </div>
            </center>
            <H3>STANCENATION JAPAN G EDITION ODAIBA 2022 // PART 1.</H3>
            <p class="small-text">STANCENATION x DECEMBER 5, 2022</p><br>
            <p class="normal-text">
                We can not even put into words the joy, excitement & gratitude we feel for being able to bring back what we consider our best and biggest show in Japan. We’ve been hosting events in Odaiba (a small man made island by Tokyo) for years, but it all came to a screeching halt when we were informed the venue would be used for Tokyo Olympics.</p>
        </div>
        <div class="dotted-line"></div>

    </div>


</body>