@{
    ViewData["Title"] = "Event Coverage";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<body>
    <div class="left-div">
        <center class="underline"><h1>Events Coverage</h1></center>
    </div>

    <div class="right-div">
        <center><H3 class="underline">Social Media</H3></center>
        <div style="background-color: #708090;"> <center>
             <ul class="social-links">
                <li>
                    <a href="http://www.facebook.com/stancenation">
                   <i class="fab fa-facebook facebook-icon social-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.instagram.com/stancenation">
                       <i class="fab fa-instagram instagram-icon social-icon"></i>
                    </a>
                </li>
            </ul>
        </center>
        </div>
       <br><br><br>
        <center >
            <H3 class="underline">StanceNation Team </H3><br>
            <div style="background-color: #708090;">
                <div>
                    <h4>Sandile Mashabane</h4>
                    <p>Project Manager</p>
                    <div><img src="~/css/sandile1.png" /></div><br>
                    <div class="dotted-line"></div>
                </div>
                <div>
                    <h4>Chadwin Benn</h4>
                    <p>Business Analyst</p>
                    <div><img src="~/css/chad.png" /></div><br>
                    <div class="dotted-line"></div>
                </div>
                <div>
                    <h4>Kabelo Frans Mampa</h4>
                    <p>Software Developer</p>
                    <div><img src="~/css/frans.png" /></div><br>
                    <div class="dotted-line"></div>
                </div>
                <div>
                    <h4>Kabelo Monageng</h4>
                    <p>Software Designer</p>
                    <div><img src="~/css/kabelo.png" /></div><br>
                    <div class="dotted-line"></div>
                </div>
                <div>
                    <h4>Kamohelo Mokebe</h4>
                    <p>Businness Analyst</p>
                    <div><img src="~/css/kamo.png" /></div><br>
                    <div class="dotted-line"></div>
                </div>
            </div>
            <br><br>
            <H3 class="underline">Our Supporters </H3><br>
            <div><img src="~/css/SP1.jpg" /></div>
            <div><img src="~/css/SP2.jpg" /></div>
            <div><img src="~/css/SP3.jpg" /></div>
            <div><img src="~/css/SP4.jpg" /></div>
            <div><img src="~/css/SP5.jpg" /></div>
            <div><img src="~/css/SP6.jpg" /></div>
            <div><img src="~/css/SP7.jpg" /></div>
        </center> 


    </div>
    <div style="background-color:#708090;" class="left-div">
        <br><br>
        <div>
            <center>
                <div class="image">
                    <img src="~/css/Gravity.jpg" /><br>
                </div>
            </center>
            <H3>GRAVITY MOTOR SHOW 2023 PHOTO COVERAGE.</H3>
            <p class="small-text">STANCENATION x OCTOBER 2, 2023</p><br>
            <p class="normal-text">
                We haven’t shared coverage of Gravity Automotive Event in a few years,
                so when Marcus hit us up about new photos we were pretty stoked! Some of the finest cars around UK come out to play as you’ll see in these next couple hundred photos.
                It seems that majority of the cars are Euro’s (to be expected) there are still a handful of beautiful JDM rides for everyone to admire.
                So grab a drink and a snack and enjoy these epic shots captured by Marcus Lundell!
            </p>
        </div>
        <div class="dotted-line"></div>

    </div>
    <div style="background-color:#708090;" class="left-div">
        <br><br>
        <div>
            <center>
                <div class="image">
                    <img src="~/css/Shukia1.jpg" /><br>
                </div>
            </center>
            <H3>SHUKAI 2023 PHOTO COVERAGE // PART 2.</H3>
            <p class="small-text">STANCENATION x SEPTEMBER 21, 2023</p><br>
            <p class="normal-text">
                More dope cars coming to you straight from Japan, thanks to the Shukai event guys of course.
                Not much else needs to be said besides the fact that we’re looking forward to what the future holds for this awesome show.
                The guys behind the screen are all genuine car enthusiasts and truly want to see the car culture continue to thrive.
                Sit back and enjoy these awesome photos provided to us by Ryo Kato!
            </p>
        </div>
        <div class="dotted-line"></div>

    </div>
    <div style="background-color:#708090;" class="left-div">
        <br><br>
        <div>
            <center>
                <div class="image">
                    <img src="~/css/Shukia2.jpg" /><br>
                </div>
            </center>
            <H3>SHUKAI 2023 PHOTO COVERAGE // PART 1.</H3>
            <p class="small-text">STANCENATION x SEPTEMBER 12, 2023</p><br>
            <p class="normal-text">
                We love Shukai! One of our very own photographers plays a huge role in organizing this thing and you might think we are just playing favoritism
                but we are not as you’ll see in the photos.
                The cars that come out to Shukai are just freaking cool.
                From Euro to Japanese classics and even supercars, it’s all there
            </p>
        </div>
        <div class="dotted-line"></div>

    </div>
    <div style="background-color:#708090;" class="left-div">
        <br><br>
        <div>
            <center>
                <div class="image">
                    <img src="~/css/bilsport.jpg" /><br>
                </div>
            </center>
            <H3>BILSPORT & PERFORMANCE CUSTOM MOTOR SHOW 2023 PHOTO COVERAGE // PART 2.</H3>
            <p class="small-text">STANCENATION x JUNE 10, 2023</p><br>
            <p class="normal-text">
                What more is there to say about this awesome event? As far as we are concerned this one should be on the bucket list for every car enthusiast.
                What ore is there to ask for from event besides a huge variety of cars and styles and lots and lots of high quality ones at that.
                There is truly something for everyone as you’ve probably seen by now. But if you haven’t already, sit back and make sure to look through all the pages.
                As always, big congrats to the event staff for putting yet another great event and a huge thanks to our friend and photographer Marcus Lundell for capturing the event.
            </p>
        </div>
        <div class="dotted-line"></div>

    </div>
    <div style="background-color:#708090;" class="left-div">
        <br><br>
        <div>
            <center>
                <div class="image">
                    <img src="~/css/porsche.jpg" /><br>
                </div>
            </center>
            <H3>BILSPORT & PERFORMANCE CUSTOM MOTOR SHOW 2023 PHOTO COVERAGE // PART 1.</H3>
            <p class="small-text">STANCENATION x MAY 1, 2023</p><br>
            <p class="normal-text">
                Please do a simple search for “custom motor show” on StanceNation and you’ll see the type of event you are dealing with here!
                Just when you think you’ve seen it all, the Custom Motor Show crew turn it up to another level.
                Dubbed as “one of the best events” by many car enthusiasts & photographers, this years gathering brought out yet another 90,000 + visitors.
                What makes Custom Motor Show as successful as it is is the huge variety of styles they are able to bring together. There truly is something for everyone as they say
            </p>
        </div>
        <div class="dotted-line"></div>

    </div>


</body>